<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Factorio Admin</title>

  <!--The FontAwesome version is locked at 4.6.3 in the package.json file to keep this from breaking.-->
  <!--<link rel="stylesheet" href="jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="/dist/style.css">
  <!--<link href="css/font-awesome.min.css" rel="stylesheet">-->
  <!--<link href="css/simple-line-icons.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.auth0.com/js/lock/10.16/lock.min.js"></script>
  <script>
    apiUrl = '<%= apiUrl %>';
  </script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" aurelia-app="main">
  <!--<div class="splash">
    <div class="message">Factorio admin</div>
    <i class="fa fa-spinner fa-spin"></i>
  </div>-->

  <script src="jspm_packages/system.js"></script>
  <script src="config.js"></script>
  <!--<script src="jspm_packages/npm/bluebird@3.4.1/js/browser/bluebird.min.js"></script>-->
  <script>
    System.import('pace');
    System.import('aurelia-bootstrapper');
  </script>

</body>

</html>